.venv/

Simple_GNN_Powerflow_old.ipynb
test_results/
training_results_saved/
training_networks_saved/
physics_comparison_results/
grid_model_files/
code_base.py
GNN_Powerflow_V2.3 - Multi_network_implementation.html
GNN_Powerflow_V2.1.2.html